{% extends 'base.html' %}

{% block page_title %}Delete "{{ song.name }}" | {% endblock %}

{% block content %}
	<h1>Delete song: {{ song.name }}</h1>
	<div class="box">
		<form class="standard_form" action="." method="post">
			<p>Are you sure you want to delete the song "{{ song.name }}"?
			Any chord sequences for this song will also be deleted.</p>
			<div class="box">
				<p>Chord sequences affected:</p>
				<ul>
					{% for seq in song.chordsequence_set.all %}
						<li>{{ forloop.counter }}. Sequence {{ seq.id }}{% if seq.description %}: {{ seq.description }}{% endif %}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="actions">
				<input type="submit" name="delete" value="Yes"/>
				<input type="submit" name="cancel" value="No"/>
			</div>
		</form>
	</div>
{% endblock %}
