{% extends 'base.html' %}

{% block page_title %}{% if sequence.name %}Edit Sequence: {{ sequence.name }}{% else %}Add new sequence{% endif %} | {% endblock %}

{% block extra_head %}
	<script src="{{ MEDIA_URL }}js/sequences.js" type="text/javascript"></script>
	<script type="text/javascript">
		window.addEvent('domready', function() {
			window.chordRoots = {{% for root_pair in chord_roots %}
				{{ root_pair.0 }} : "{{ root_pair.1 }}"{% if not forloop.last %},{% endif %}{% endfor %}
			};
			window.chordTypes = {{% for type_pair in chord_types %}
				{{ type_pair.0 }} : "{{ type_pair.1 }}"{% if not forloop.last %},{% endif %}{% endfor %}
			};
			window.categories = {{% for cat_pair in categories %}
				"{{ cat_pair.0 }}" : "{{ cat_pair.1 }}"{% if not forloop.last %},{% endif %}{% endfor %}
			};
			window.pos_tags = [ {% for tag in pos_tags %}'{{ tag }}'{% if not forloop.last %}, {% endif %}{% endfor %} ];
			// Initialize the chord editor
			window.chordEditor = new ChordEditor('chord_editor', {{ chord_editor_options|safe }});
			var reinitChordEditor = function() {
				var options = new Hash({{ chord_editor_options|safe }});
				options.extend({
						'bar_length': $('id_bar_length').value
					});
				window.chordEditor.recalculateWidth(options);
			}
			$('id_bar_length').addEvent('change', reinitChordEditor());
			$('id_name').focus();
		});
	</script>
{% endblock %}

{% block content %}
	<h1>{% block heading %}{% if sequence.name %}Edit: {{ sequence.name }}{% else %}New sequence{% endif %}{% endblock %}</h1>
	{% if form.errors %}
		{{ form.errors }}
	{% endif %}
	{% if song_form.errors %}
		{{ song_form.errors }}
	{% endif %}
	<div id="editor_form_container" class="{% block container_class %}{% endblock %}">
		<form action="." method="post" class="standard_form" id="editor_form">
			<div class="actions">
				<input type="submit" value="Save" name="save"/>
				<input type="submit" value="Save and exit" name="save_and_exit"/>
				<input type="submit" value="Cancel" name="cancel"/>
				{% if sequence.id %}
				<div class="delete_sequence"><a href="{% url apps.sequences.views.delete_sequence sequence.id %}">Delete</a></div>
				{% endif %}
			</div>
			<div class="box" id="top_form">
				{% block form_box %}
				{{ form.song.errors }}
				<label for="id_song">Song:</label>
				{{ form.song }}
				
				<div class="box">
					<p class="note">
					These will be ignored if you change the song above to 
					anything other than blank (in which case a new song 
					will be created).
					</p>
					{{ song_form.name.errors }}
					<label for="id_song-name">Name:</label>
					{{ song_form.name }}
					
					{{ song_form.key.errors }}
					<label for="id_song-key">Main key:</label>
					{{ song_form.key }}
				</div>
				
				{{ form.bar_length.errors }}
				<label for="id_bar_length">Bar length:</label>
				{{ form.bar_length }}
				
				{{ form.description.errors }}
				<label for="id_description">Sequence description:</label>
				{{ form.description }}
				
				{{ form.source.errors }}
				<label for="id_source">Source:</label>
				{{ form.source }}
				
				{{ form.analysis_omitted.errors }}
				<label for="id_analysis_omitted">Analysis omitted:</label>
				{{ form.analysis_omitted }}
				
				{{ form.alternative.errors }}
				<label for="id_alternative">Alternative analysis:</label>
				{{ form.alternative }}
				{% endblock %}
			</div>
			<div class="box">
				<div id="chord_editor">
					<div id="chord_editor_chords"></div>
					<a href="#" id="edit_as_text_button">Edit as text</a>
				</div>
				<input type="hidden" name="chords" id="chord_editor_data" value='{{ chord_data|safe }}'/>
			</div>
			<div id="text_chord_editor">
				<textarea id="text_chords"></textarea><br/>
				<a id="id_submit_text_chords" href="#">Update</a>
				<a id="id_cancel_text_chords" href="#">Cancel</a>
			</div>
			{% if not hidenotes %}
			<div class="box notes">
				<label for="id_notes">Notes</label>
				{{ form.notes }}
			</div>
			<div class="box omissions">
				<label for="id_omissions">Omissions</label>
				{{ form.omissions }}
			</div>
			{% endif %}
			<div class="actions">
				<input type="submit" value="Save" name="save" accesskey="s"/>
				<input type="submit" value="Save and exit" name="save_and_exit"/>
				<input type="submit" value="Cancel" name="cancel"/>
				{% if sequence.id %}
				<div class="delete_sequence"><a href="{% url apps.sequences.views.delete_sequence sequence.id %}">Delete</a></div>
				{% endif %}
			</div>
		</form>
		<div id="editor_box">
			<form class="standard_form" id="chord_editor_form">
				<div id="editor_pointer"></div>
				<div class="field_container">
					<label id="label_root" for="id_root">Chord</label>
					{{ chord_form.root }}
					{{ chord_form.type }}<br/>
				</div>
				<div class="field_container">
					<label for="id_additions">Additions</label>
					{{ chord_form.additions }}
				</div>
				<div class="field_container">
					<label for="id_bass">Bass</label>
					{{ chord_form.bass }}
				</div>
				<div class="field_container">
					<label for="id_duration" accesskey="d"><strong>D</strong>uration</label>
					{{ chord_form.duration }}
				</div>
				<div class="field_container">
					<label for="id_category" accesskey="c"><strong>C</strong>ategory</label>
					{{ chord_form.category }}
				</div>
				<div class="tree">
					<div class="field_container">
						<label for="id_coord_unresolved">Mid-coord</label>
						{{ chord_form.coord_unresolved }}
					</div>
					<div class="field_container">
						<label for="id_coord_unresolved">End coord</label>
						{{ chord_form.coord_resolved }}
					</div>
				</div>
				<input type="submit" id="save_chord_button" value="Update" accesskey="u"/>
				<div class="close_button"><a href="#" id="editor_box_close">X</a></div>
				<div class="chord_number" id="editor_chord_number"></div>
				<div class="chord_copier" id="editor_chord_copier">
					<label for="id_copy_start" class="copy_start_label">Copy from</label><input type="text" name="copy_start" id="id_copy_start"/>
					<label for="id_copy_end">to</label><input type="text" name="copy_end" id="id_copy_end"/>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
